@CHARSET "UTF-8";
.border-in {
	fill:bisque;
	stroke:black;
}
.border-out {
	stroke:black;
	fill:lightblue;
}
.tile-border {
	fill:none;
	stroke:black;
}
.root-svg {
  position:absolute;
  width:100%;
  height:100%;
}
